---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card.svelte";
import getSortedPosts from "@utils/getSortedPosts";
import PostTitleAndContent from "@components/PostTitleAndContent.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

---

<Layout>
  <Header />
  <main id="main-content">

    <section id="hero">
      <h1>Hi, I'm Rio, an iOS Developer</h1>
      <h2>
        On my blog, I cover iOS development and unrelated topics,
        <br/>
        but mostly my journey building
        <a href="https://composure.rioogino.com">Composure Camera</a>.
      </h2>
    </section>
    <Hr/>
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured Posts</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    {sortedPosts.length && <div>
    <h2></h2>
    <section class="most-recent-post-section">
      <PostTitleAndContent post={sortedPosts[0]} />
    </section>
    </div>
    }
    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            // .filter(({ data }) => !data.featured)
            .map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-8;
  }
  #hero h1 {
    @apply mb-4 text-3xl text-center;
  }
  #hero h2 {
    @apply mb-4 text-xl text-center;
  }
  #hero p {
    @apply my-2;
  }
  #hero a {
    @apply text-skin-accent;
  }

  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-4;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }

  .most-recent-post-section {
    @apply mx-auto w-full max-w-3xl px-4 pt-4;
  }

</style>
